
/*body {
    font-family: 'Poppins', sans-serif;
    
}*/

nav{
    border-color: #dc3545;
}
.dummy-img{
    max-width: 100%;
    max-height: 100%;
}  

a{
    color: #302d2d;
}
a:hover{
    color: #960000;
}
  
.profile-margin{
    
    margin-left: 10px;
}

.containers{
    position: relative;
    width: 100%;
    overflow: hidden;

}
.sliders-wrapper{
    
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
    /*max-width: 48rem;
    margin: 0 auto;*/
}

.sliders{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
    -webkit-overflow-scrolling: touch;
}

.slider::-webkit-scrollbar{
    display: none;
}

.sliders img{
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    /*flex: 1 0 100%;*/
}

.sliders-nav{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    /*display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;*/
}

.slider-anchor{
    display: block;
    width: 15px;
    height: 15px;
    background-color: #dc3545;
    margin: 0 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    /*width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;*/
}

.slider-anchor:hover{
    background-color: rgb(241, 174, 181);
    /*opacity: 1;*/
    
}

.cards-style{
    
    margin-top: 20px;
    display: grid;
    grid-template-columns: 0px 1fr 1fr 0px;
    column-gap: 20px;
    row-gap: 40px;
}

/*.card-img-top{
    height: 70%;
    width: 70%;
    
}*/

.profile-container {
    background-color: white; /* White background for the profile */
    border-radius: 8px; /* Slight rounding of corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    padding: 20px; /* Padding around the content */
    text-align: center; /* Center text in the container */
    width: 100%; /* Fixed width for the container */
    height: 500px;

    
      display: grid;
      grid-template-columns:  200px 1fr ;
      column-gap: 20px;
      row-gap: 40px;
}

.profile-picture {
    width: 100%; /* Fixed width */
    height: 50%; /* Fixed height */
    border-radius: 2%; /* Circular profile picture */
    object-fit: cover; /* Ensure the image covers the element */
    margin-bottom: 15px; /* Space between image and text */
}

.profile-name {
    font-size: 1.5em; /* Larger font size for the name */
    margin: 0; /* Remove margin */
}

.profile-description {
    color: #666; /* Subtle text color for description */
    margin-top: 10px; /* Space above the description */
}

.img-fluid{
    border-radius: 1%;
    height: 100%;
    width: 100%;

}

.col{
    height: 100%;
}


/*MODAL 1*/


* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

button{
    background-color: #dc3545;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}
button:hover{
    background-color: rgb(241, 174, 181);
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: 80%; /* Prevents modal from being too tall */
    overflow-y: auto; /* Enable vertical scroll */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 95%; /* Responsive width on small screens */
    }
}


/*MODAL 2*/

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

button{
    background-color: #dc3545;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}
button:hover{
    background-color: rgb(241, 174, 181);
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: 80%; /* Prevents modal from being too tall */
    overflow-y: auto; /* Enable vertical scroll */
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .modal-content2 {
        width: 95%; /* Responsive width on small screens */
    }
}

/*MODAL 3*/

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

button{
    background-color: #dc3545;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}
button:hover{
    background-color: rgb(241, 174, 181);
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content3 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: 80%; /* Prevents modal from being too tall */
    overflow-y: auto; /* Enable vertical scroll */
}

.close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close3:hover,
.close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}

@media screen and (max-width: 600px) {
    .modal-content2 {
        width: 95%; /* Responsive width on small screens */
    }
}

/*MODAL 4*/

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

button{
    background-color: #dc3545;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}
button:hover{
    background-color: rgb(241, 174, 181);
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content4 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: 80%; /* Prevents modal from being too tall */
    overflow-y: auto; /* Enable vertical scroll */
}

.close4 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close4:hover,
.close4:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}

@media screen and (max-width: 600px) {
    .modal-content4 {
        width: 95%; /* Responsive width on small screens */
    }
}

/*MODAL 5*/

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

button{
    background-color: #dc3545;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}

button:hover{
    background-color: rgb(241, 174, 181);
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal5 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content5 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: 80%; /* Prevents modal from being too tall */
    overflow-y: auto; /* Enable vertical scroll */
}

.close5 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close5:hover,
.close5:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}

@media screen and (max-width: 600px) {
    .modal-content5 {
        width: 95%; /* Responsive width on small screens */
    }
}


/*MODAL 6*/

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

button{
    background-color: #dc3545;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}

button:hover{
    background-color: rgb(241, 174, 181);
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal6 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content6 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: 80%; /* Prevents modal from being too tall */
    overflow-y: auto; /* Enable vertical scroll */
}

.close6 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close6:hover,
.close6:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}

@media screen and (max-width: 600px) {
    .modal-content6 {
        width: 95%; /* Responsive width on small screens */
    }
}
